# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/
.pipenv/
.venv/
.venv.bak/


# Environment variables
.env

# Build files
build
github-actions-key
github-actions-key.pub
